/* imports */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Shadows+Into+Light&display=swap');
/* fim imports */

/* GERAL */

* {
    padding: 0;
    margin: 0;
}

body {}

/* GERAL FIM */


/* HEADER INDEX*/

.container__header {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    color: white;
}

.titulo__header {
    font-family: "Josefin Sans", sans-serif;
    font-size: 80px;
    text-align: center;
    padding-top: 1em;
}

/* HEADER INDEX FIM */

/* MAIN INDEX*/

.flex-index {
    background-color: #8fb2e8;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.quadrado {    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title> Ada Augusta King - Ada Lovelace </title>
</head>

<body>
…        <footer>
     
    </footer>


</html>
    border: 3px solid #c3d6d6;
    border-radius: 30px;
    background-color: #8fb2e8;
    width: 300px;
    height: 600px;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}

.quadrado:hover {
    color: rgb(238, 238, 238);
    transition: 400ms;
    opacity: 0.7;
}

.imagem-index {
    width: 100%;
    height: 500px;
    border-radius: 28px;
}

.texto-index {
    font-size: 30px;
    padding-top: 25px;
}

/* MAIN INDEX FIM */

/* FOOTER GERAL*/


/* CSS ADA FIM*/